@page "/Distribution"
@using NutrifoodsFrontend.Data.Dto
@using NutrifoodsFrontend.Data
@using Services
@inject IMealPlanService MpService

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Class="pa-4" Width="100%" Height="90%">
        <div class="d-flex justify-center mb-5">
            <MudText>Distribución de macronutrientes</MudText>
        </div>
        <MudChart ChartType="ChartType.Pie" InputData="@Data" @bind-SelectedIndex="_index" InputLabels="@_labels"
                  Width="50%" Height="40%" LegendPosition="Position.Bottom">

        </MudChart>
        <MudList>
            <MudListItem Class="pl-5 pr-5">
                <div class="list-items">
                    <MudText Class="text" Typo="Typo.body1">Kilocalorias</MudText>
                    <MudText Class="text" Typo="Typo.body1">@Energy</MudText>
                </div>
                @foreach(var item in NutrientValues)
                {
                    <div class="list-items">
                        <MudText Class="text" Typo="Typo.body1">@item.Key</MudText>
                        <MudText Class="text" Typo="Typo.body1">
                            @{
                                var value = $"{item.Value}g";
                            }
                            @value
                        </MudText>
                    </div>
                }
            </MudListItem>
        </MudList>
        <MudExpansionPanels Elevation="0">
            <MudExpansionPanel MaxHeight="150">
                <TitleContent>
                    <div class="d-flex justify-center">
                        <MudIcon Icon="@Icons.Filled.Menu" class="mr-3"></MudIcon>
                        <MudText>Ver más detalles</MudText>
                    </div>
                </TitleContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>

</MudContainer>


@code {

    [Parameter]
    public int Energy { get; set; }

    [Parameter]
    public int Carbs { get; set; }

    [Parameter]
    public int Proteins { get; set; }

    [Parameter]
    public int Lipids { get; set; }

    private int _index = -1;

    private int DataSize => Data.Length;

    private double[] Data => new double[] { Carbs, Proteins,  Lipids };

    private string[] _labels = { "Carbohidratos", "Proteínas", "Lípidos" };

    Dictionary<string, double> NutrientValues => InitializeDataDictionary();
    private Dictionary<string, double> InitializeDataDictionary()
    {
        var dictionary = new Dictionary<string, double>();
        for (var i = 0; i < Data.Length; i++)
        {
            dictionary.Add(_labels[i], Data[i]);
        }

        return dictionary;
    }






}