@page "/Distribution"
@using NutrifoodsFrontend.Data.Dto
@using NutrifoodsFrontend.Data
@using Services
@inject IMealPlanService mpService

<MudPaper Class="pa-4">
    <div class="d-flex justify-center mb-5">
        <MudText>Distribución de macronutrientes</MudText>
    </div>
    <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="200px" Height="200px" />
    <MudList>
        <MudListItem Class="d-flex">        
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Energía</MudText>
                    <MudText Typo="Typo.body1">@energy</MudText>
                </div>
        </MudListItem>
        <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Carbohidratos</MudText>
                    <MudText Typo="Typo.body1">@data.ElementAt(1)</MudText>
                </div>
        </MudListItem>
        <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Proteínas</MudText>
                    <MudText Typo="Typo.body1">@data.ElementAt(0)</MudText>
                </div>
        </MudListItem>
        <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Lípidos</MudText>
                    
                    <MudText Typo="Typo.body1">@data.ElementAt(2)</MudText>
                </div>
        </MudListItem>
    </MudList>
</MudPaper>

@code {
    private int Index = -1;
    int energy = 488;
    int dataSize = 3;
    double[] data = { 77, 25, 20 };
    string[] labels = { "Proteínas", "Carbohidratos", "Lípidos" };

    private double totalEnergy { get; set; }
    private double totalCarbs { get; set; }
    private double totalLipids { get; set; }
    private double totalProteins { get; set; }

    [Parameter]
    public IEnumerable<MealMenuDto>? MealMenus { get; set; }

    private void CalculateTotals()
    {

        foreach (var meal in MealMenus)
        {
            totalEnergy += meal.EnergyTotal;
            totalCarbs += meal.CarbohydratesTotal;
            totalLipids += meal.LipidsTotal;
            totalProteins += meal.ProteinsTotal;
        }

    }

  
}

