@page "/Distribution"
@using NutrifoodsFrontend.Data.Dto
@using NutrifoodsFrontend.Data
@using Services
@inject IMealPlanService mpService

<MudContainer MaxWidth="MaxWidth.Small">
    @if(Energy != null){
        initData();
    }
    <MudPaper Class="pa-4">
        <div class="d-flex justify-center mb-5">
            <MudText>Distribución de macronutrientes</MudText>
        </div>
        <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="400px" Height="300px" />
        <MudList>
            <MudListItem Class="d-flex">
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Energía</MudText>
                    <MudText Typo="Typo.body1">@Energy</MudText>
                </div>
            </MudListItem>
            <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Carbohidratos</MudText>
                    <MudText Typo="Typo.body1">@Carbs</MudText>
                </div>
            </MudListItem>
            <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Proteínas</MudText>
                    <MudText Typo="Typo.body1">@Proteins</MudText>
                </div>
            </MudListItem>
            <MudListItem>
                <div class="d-flex justify-space-between pl-5 pr-5">
                    <MudText Typo="Typo.body1">Lípidos</MudText>
                    <MudText Typo="Typo.body1">@Lipids</MudText>
                </div>
            </MudListItem>
        </MudList>
    </MudPaper>

</MudContainer>

@code {

    [Parameter]
    public int Energy { get; set; }
    [Parameter]
    public int Carbs { get; set; }
    [Parameter]
    public int Proteins { get; set; }
    [Parameter]
    public int Lipids { get; set; }

    private int Index = -1;


    int dataSize = 3;
    double[] data = new double[3];

    string[] labels = { "Proteínas", "Carbohidratos", "Lípidos" };

    private double totalEnergy { get; set; }
    private double totalCarbs { get; set; }
    private double totalLipids { get; set; }
    private double totalProteins { get; set; }

    [Parameter]
    public IEnumerable<MealMenuDto>? MealMenus { get; set; }

    private void CalculateTotals()
    {

        foreach (var meal in MealMenus)
        {
            totalEnergy += meal.EnergyTotal;
            totalCarbs += meal.CarbohydratesTotal;
            totalLipids += meal.LipidsTotal;
            totalProteins += meal.ProteinsTotal;
        }

    }

    public void initData()
    {
        data[0] = Convert.ToDouble(Proteins);
        data[1] = Convert.ToDouble(Carbs);
        data[2] = Convert.ToDouble(Lipids);
        
    }

  
}

