@page "/Distribution"
@using NutrifoodsFrontend.Data.Dto
@using NutrifoodsFrontend.Data
@using Services
@inject IMealPlanService mpService

<MudContainer MaxWidth="MaxWidth.Small">
    @if(Energy != null){
        InitData();
    }
    <MudPaper Class="pa-4" Width="100%" Height="90%">
        <div class="d-flex justify-center mb-5">
            <MudText>Distribución de macronutrientes</MudText>
        </div>
        <MudChart ChartType="ChartType.Pie" InputData="@_data" @bind-SelectedIndex="_index" InputLabels="@_labels" Width="50%" Height="40%" />
        <MudList>
            <MudListItem Class="pl-5 pr-5">
                <div class="list-items">
                    <MudText  Class="text" Typo="Typo.body1">Energía</MudText>
                    <MudText  Class="text" Typo="Typo.body1">@Energy</MudText>
                </div>
                <div class="list-items">
                    <MudText Class="text" Typo="Typo.body1">Carbohidratos</MudText>
                    <MudText Class="text"  Typo="Typo.body1">@Carbs</MudText>
                </div>
                <div class="list-items">
                    <MudText Class="text" Typo="Typo.body1">Proteínas</MudText>
                    <MudText  Class="text" Typo="Typo.body1">@Proteins</MudText>
                </div>
                <div class="list-items">
                    <MudText Class="text" Typo="Typo.body1">Lípidos</MudText>
                    <MudText  Class="text" Typo="Typo.body1">@Lipids</MudText>
                </div>
            </MudListItem>
            
        </MudList>
    </MudPaper>

</MudContainer>


@code {

    [Parameter]
    public int Energy { get; set; }
    [Parameter]
    public int Carbs { get; set; }
    [Parameter]
    public int Proteins { get; set; }
    [Parameter]
    public int Lipids { get; set; }
    private int _index = -1;
    private int _dataSize = 3;
    private double[] _data = new double[3];
    string[] _labels = { "Proteínas", "Carbohidratos", "Lípidos" };
    private double TotalEnergy { get; set; }
    private double TotalCarbs { get; set; }
    private double TotalLipids { get; set; }
    private double TotalProteins { get; set; }

    [Parameter]
    public IEnumerable<MealMenuDto>? MealMenus { get; set; }

    private void CalculateTotals()
    {
        if (MealMenus == null) return;
        foreach (var meal in MealMenus)
        {
            TotalEnergy += meal.EnergyTotal;
            TotalCarbs += meal.CarbohydratesTotal;
            TotalLipids += meal.LipidsTotal;
            TotalProteins += meal.ProteinsTotal;
        }
    }

    private void InitData()
    {
        _data[0] = Convert.ToDouble(Proteins);
        _data[1] = Convert.ToDouble(Carbs);
        _data[2] = Convert.ToDouble(Lipids);
        
    }
    
}

<style>
    .list-items {
        display: flex;
        justify-content: space-between;
    }

    .text {
        font-size: 1.8vh;
    }
</style>