@page "/Invitado"
@using NutrifoodsFrontend.Data.State
@using Microsoft.AspNetCore.Components
@implements IDisposable
@inject UserEnergyState UserEnergyState

<MudContainer Class="mt-3" MaxWidth="MaxWidth.Small">
    <MudPaper>
        <MudForm @ref="_form" Validation="@(_metricValidator.ValidateValue)" @bind-IsValid="@_success" 
                 @bind-Errors="@_errors" Model="@_metricModel">
            <div class="d-flex flex-column pa-4">
                <MudText Typo="Typo.h5" Class="pa-4">Métricas Corporales</MudText>
                <div class="d-flex">
                    <MudTextField @bind-Value="_metricModel.Height" Class="pa-4" Label="Altura" Variant="Variant.Outlined" 
                                  Adornment="Adornment.End" AdornmentText="Centímetros" AdornmentColor="Color.Info"
                                  Required="true" RequiredError="La altura es obligatoria" For="@(() => _metricModel.Height)"
                                  />
                    <MudTextField Class="pa-4" @bind-Value="_metricModel.Weight" Label="Peso" Variant="Variant.Outlined" 
                                  Adornment="Adornment.End" AdornmentText="Kilogramos" AdornmentColor="Color.Info"
                                  Required="true" RequiredError="El peso es obligatorio" For="@(() => _metricModel.Weight)" 
                                  />
                </div>
                <div>
                    <MudTextField @bind-Value="_metricModel.Age" Class="pa-4" Label="Edad" Variant="Variant.Outlined" 
                                  Adornment="Adornment.End" AdornmentText="Años" AdornmentColor="Color.Info"
                                  Required="true" RequiredError="La edad es obligatoria" For="@(() => _metricModel.Age)"
                                  />
                </div>
                
                <div class="pa-4">
                    <MudSelect Required="true" Dense="true" @bind-Value="_metricModel.PhysicalActivity" Class="pb-4" 
                               Label="Actividad Física" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" 
                               For="@(() => _metricModel.PhysicalActivity)">
                        @foreach (var item in PhysicalActivityEnumList)
                        {
                            <MudSelectItem Value="@item">@item.ReadableName</MudSelectItem>
                        }
                    </MudSelect>
                    <MudSelect Required="true" Dense="true" @bind-Value="_metricModel.Gender" Class="pb-4" Label="Genero" 
                               Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" For="@(() => _metricModel.Gender)">
                        @foreach (var item in GenderEnumList)
                        {
                            <MudSelectItem Value="@item">@item.ReadableName</MudSelectItem>
                        }
                    </MudSelect>  
                </div>
                <div class="mt-2 pa-4">
                    <MudButton Class="pa-3" Disabled="@(!_success)" Variant="Variant.Filled" Color="Color.Primary"
                               OnClick="ChangePropertyValue" Href="https://localhost:5001/mealplan" FullWidth="true">
                        Siguiente
                    </MudButton>
                </div>
            </div>
        </MudForm>
    </MudPaper>
</MudContainer>

