@page "/personaldata"
@using UtilsFolder.Enums

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper>
        <MudForm @ref="form" @bind-IsValid="@Success" @bind-Errors="@errors">
            <div class="d-flex flex-column pa-4">
                <MudText Typo="Typo.h5" Class="pa-4">Datos Personales</MudText>
                <div class="d-flex mt-3">
                    <MudTextField Required="true" Class="px-3" @bind-Value="Name" Label="Nombre" Variant="Variant.Outlined"></MudTextField>
                    <MudTextField Required="true" Class="px-3" @bind-Value="LastName" Label="Apellido" Variant="Variant.Outlined"></MudTextField>
                </div>
                <div class="pl-3 pr-3 mt-3">
                    <MudSelect Required="true" Dense="true" @bind-Value="GenderValue" Class="pb-4" Label="Género" Variant="Variant.Outlined">
                        @foreach (GenderEnum item in GenderEnum.List)
                        {
                            <MudSelectItem Value="@item">@item.ReadableName</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <MudDatePicker Required="true" Label="Fecha de Nacimiento" Class="px-3" @ref="_picker" DateFormat="yyyy-MM-dd" @bind-Date="date">
                    <PickerActions>
                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Limpiar</MudButton>
                        <MudButton OnClick="@(() => _picker.Close(false))">Cancelar</MudButton>
                        <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                    </PickerActions>
                </MudDatePicker>

                <div class="pa-3 mt-3">
                    <MudButton Class="pa-3" 
                                   Disabled="@(!Success)" 
                                   Variant="Variant.Filled" 
                                   Color="Color.Primary"
                                   Href="https://localhost:5001/body"
                                   FullWidth="true">
                                   Siguiente
                    </MudButton>
                </div>
            </div>
        </MudForm>
    </MudPaper>   
</MudContainer>

@code {
    private bool Success;
    private string[] errors = { };
    private string? Name { get; set; }
    private string? LastName { get; set; }
    private MudForm? form;
    private MudDatePicker? _picker;
    private DateTime? date = DateTime.Today;
    private GenderEnum? GenderValue;
}
