@page "/Body"

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper>
        <div class="d-flex flex-column pa-4">
            <MudText Typo="Typo.h5" Class="pa-4">Métricas Corporales</MudText>
            <div class="d-flex">
                <MudTextField Class = "pa-4" @bind-Value="Weight" Label="Altura" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Centímetros" AdornmentColor="Color.Info" />
                <MudTextField Class = "pa-4" @bind-Value="Height" Label="Peso" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Kilogramos" AdornmentColor="Color.Info" />
            </div>
            <div class="pa-4 ">
                <MudSelect Class="pb-4" Dense="true" T="string" Label="Actividad Física" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("Muy Sedentaria")" />
                    <MudSelectItem Value="@("Sedentaria")" />
                    <MudSelectItem Value="@("Moderada")" />
                    <MudSelectItem Value="@("Activa")" />
                </MudSelect>
                <MudSelect Class="pb-4" Dense="true" T="string" Label="Objetivo" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("Bajar de peso")" />
                    <MudSelectItem Value="@("Mantener peso")" />
                    <MudSelectItem Value="@("Subir de peso")" />
                </MudSelect>
                <MudSelect Class="pb-4" Dense="true" T="string" Label="Periocidad" Variant="Variant.Outlined">
                    <MudSelectItem Value="@("Semanal")" />
                    <MudSelectItem Value="@("Mensual")" />
                </MudSelect>
                
            </div>
            
            <div class="pa-4 ">
                <MudButton Class="pa-3" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" FullWidth="true">Siguiente</MudButton>
            </div>
            
        </div>
        
    </MudPaper>
</MudContainer>

@code {
    public int? Weight { get; set; }
    public int? Height { get; set; }
    public double? ImcValue { get; set; } = 25;
}
